<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="stylesheet" href="/styles/spectre.min.css">
  <link rel="stylesheet" href="/styles/animate.min.css">
  <link rel="stylesheet" href="/styles/search.min.css">
</head>
<html>
<body>
  <app class="app text-center"></app>
  <footer class="footer">
  </footer>

<script type="text/javascript" src="/scripts/search.min.js"></script>

</body>
</html>
