{% extends "bootstrap/base.html" %}
{% block head %}
  {{super()}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<header class="text-center nav navbar">
    <section class="navbar-section">
        <div class="title-div">
          <h1>TextBook Commons</h1>
          <h5>Type in the name of your course and start saving money on your books</h5>
        </div>
        <search class="search-form"></search>
    </section>
</header>
{% endblock %}
<html>
  <body>
    <figure class="avatar avatar-xl">
      <img src="https://mgoal.ca/goal_small.png" />
    </figure>
    {% block content %}

    <results></results>

{% endblock %}

    <footer class="footer">
    </footer>

{% block styles %}

{{super()}}
<link rel="stylesheet" href="/styles/spectre.min.css">
<link rel="stylesheet" href="/styles/search.min.css">
{% endblock %}

{% block scripts %}
 {{super()}}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.4.1/riot+compiler.min.js"></script>
 <script type="text/javascript" src="/scripts/tags.min.js"></script>
 <script type="text/javascript" src="/scripts/search.min.js"></script>
{% endblock %}
  </body>
</html>
