<meta name="viewport" content="width=device-width, initial-scale=1">
<header class="text-center nav navbar">
  <section class="page-top navbar-section">
    <div class="container header-text">
      <div class="columns">
        <div class="col-sm-9 col-md-9 col-lg-9 text-center">
          <h1 class="title">TextBook Commons</h1>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <figure class="logo avatar avatar-xl">
            <img src="https://mgoal.ca/goal.png" />
          </figure>
        </div>
      </div>
      <div class="columns">
        <div class="title col-sm-12 col-md-12 col-lg-12">
          <h5>Search for a course and find your books</h5>
        </div>
      </div>
    </div>
    <search></search>
  </section>
</header>
<html>
<body>
    <results></results>

    <footer class="footer">
    </footer>

<link rel="stylesheet" href="/styles/spectre.min.css">
<link rel="stylesheet" href="/styles/search.min.css">
<script type="text/javascript" src="/scripts/search.min.js"></script>

</body>
</html>
