header {
  color: #1c75bc;
}

.wraptext {
  white-space: pre-wrap !important;
}

.search-load {
  color: transparent !important;
  min-height: 1.6rem;
  pointer-events: none;
  position: relative;
}

.search-load::after {
  -webkit-animation: loading 500ms infinite linear;
  animation: loading 500ms infinite linear;
  border: .2rem solid #5764c6;
  border-radius: 2.9rem;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 2.8rem;
  left: 50%;
  margin-left: -.8rem;
  margin-top: -.8rem;
  position: absolute;
  top: 50%;
  width: 3rem;
}

.body {
  color: #1c75bc;
}

a {
  color: #1c75bc !important;
}

.btn-primary {
  background-color: #1c75bc !important;
}

.courses {
  margin-top: 100px;
  max-width: 75%;
}

.course {
  margin-left: 10px !important;
  margin-top: 20px !important;
  margin-right: 10px !important;
}

.course-row {
  margin-right: 50px !important;
}

.search-form {
  margin-top: 9%;
  -webkit-appearance: none !important;
}

.book-title {
  margin-right: 10px !important;
}

.form-item {
  padding-left: 15px;
  padding-right: 15px;
}

#title {
  font-weight: bolder;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: none;
}

.logo {
  margin-top: 20px;
}

.title {
}

.page-top {
  font-size: 15px;
  max-width: 70%;
}
