$blue: #1c75bc;

header {
  color: $blue;
}

.form-group {
  margin: auto;
}

.wraptext {
  white-space: pre-wrap !important;
}

.search-load {
  color: transparent !important;
  min-height: 1.6rem;
  pointer-events: none;
  position: relative;
}

.search-load::after {
  -webkit-animation: loading 500ms infinite linear;
  animation: loading 500ms infinite linear;
  border: .2rem solid #5764c6;
  border-radius: 2.9rem;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 2.8rem;
  left: 50%;
  margin-left: -.8rem;
  margin-top: -.8rem;
  position: absolute;
  top: 50%;
  width: 3rem;
}

.body {
  color: $blue;
}

a {
  color: $blue !important;
}

.btn-primary {
  background-color: $blue !important;
}

.courses {
  margin-bottom: 50px;
  @media (min-width: 1335px) {
    margin-top: 20px;
    max-width: 75%;
  }

  @media (max-width: 1366px) {
    margin-top: 20px;
    max-width: 85%;
  }
}

.course {
  margin-left: 10px !important;
  margin-top: 20px !important;
  margin-right: 10px !important;
}

.course-row {}

.search-form {}

.book-title {
  margin-right: 0px !important;
}

.search {
  max-width: 60%;
  @media (max-width: 1024px) {
    max-width: 80%;
  }
  @media (max-width: 600px) {
    max-width: 95%;
  }
  margin: auto;
  margin-bottom: 10px;
}

.semester {}

.search-btn {
  margin: auto !important;
}

.title {}

.header-text {}

.logo {}

.page-top {}

.help-toast {
  background-color: rgba(28,117,188, 0.7) !important;
  font-size: 0.8em;
  max-width: 55%;
  margin-top: -10px;
  border: none;
}

.card {
  border: none !important;
}

.course-info {
  border: solid;
  border-width: 2px;
  border-radius: 2px;
}
